In [169]:
import pandas as pd
import numpy as np

In [170]:
df=pd.read_csv("NIFTY50_all.csv")

In [171]:
df

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2007-11-27,MUNDRAPORT,EQ,440.00,770.00,1050.00,770.00,959.00,962.90,984.72,27294366,2.687719e+15,NaN,9859619.0,0.3612
1,2007-11-28,MUNDRAPORT,EQ,962.90,984.00,990.00,874.00,885.00,893.90,941.38,4581338,4.312765e+14,NaN,1453278.0,0.3172
2,2007-11-29,MUNDRAPORT,EQ,893.90,909.00,914.75,841.00,887.00,884.20,888.09,5124121,4.550658e+14,NaN,1069678.0,0.2088
3,2007-11-30,MUNDRAPORT,EQ,884.20,890.00,958.00,890.00,929.00,921.55,929.17,4609762,4.283257e+14,NaN,1260913.0,0.2735
4,2007-12-03,MUNDRAPORT,EQ,921.55,939.75,995.00,922.00,980.00,969.30,965.65,2977470,2.875200e+14,NaN,816123.0,0.2741
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235187,2021-04-26,ZEEL,EQ,188.00,190.60,191.10,185.10,186.70,186.40,187.35,8542755,1.600451e+14,52374.0,2340188.0,0.2739
235188,2021-04-27,ZEEL,EQ,186.40,188.00,192.95,186.80,188.80,188.15,189.41,14247767,2.698636e+14,73673.0,5425957.0,0.3808
235189,2021-04-28,ZEEL,EQ,188.15,188.80,190.60,187.10,188.95,189.10,188.85,8429439,1.591917e+14,44056.0,2413974.0,0.2864
235190,2021-04-29,ZEEL,EQ,189.10,190.80,191.65,186.00,186.60,186.55,187.44,9483009,1.777471e+14,60932.0,2744472.0,0.2894
235191,2021-04-30,ZEEL,EQ,186.55,185.30,190.95,183.65,185.00,185.60,187.53,11435285,2.144440e+14,62607.0,3323909.0,0.2907

In [172]:
df.isnull().sum()

Date                       0
Symbol                     0
Series                     0
Prev Close                 0
Open                       0
High                       0
Low                        0
Last                       0
Close                      0
VWAP                       0
Volume                     0
Turnover                   0
Trades                114848
Deliverable Volume     16077
%Deliverble            16077
dtype: int64

In [173]:
df.Trades.fillna(0, inplace=True)

In [174]:
import locale

# Set the locale to Indian English
locale.setlocale(locale.LC_ALL, 'en_IN')


# Format the turnover as Indian currency
df['Turnover'] = df['Turnover'].apply(lambda x: locale.currency(x, grouping=True))

In [175]:
df

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2007-11-27,MUNDRAPORT,EQ,440.00,770.00,1050.00,770.00,959.00,962.90,984.72,27294366,"â‚¹ 2,68,77,19,05,37,85,000.00",0.0,9859619.0,0.3612
1,2007-11-28,MUNDRAPORT,EQ,962.90,984.00,990.00,874.00,885.00,893.90,941.38,4581338,"â‚¹ 43,12,76,53,01,65,000.00",0.0,1453278.0,0.3172
2,2007-11-29,MUNDRAPORT,EQ,893.90,909.00,914.75,841.00,887.00,884.20,888.09,5124121,"â‚¹ 45,50,65,84,62,65,000.00",0.0,1069678.0,0.2088
3,2007-11-30,MUNDRAPORT,EQ,884.20,890.00,958.00,890.00,929.00,921.55,929.17,4609762,"â‚¹ 42,83,25,66,28,30,000.00",0.0,1260913.0,0.2735
4,2007-12-03,MUNDRAPORT,EQ,921.55,939.75,995.00,922.00,980.00,969.30,965.65,2977470,"â‚¹ 28,75,19,97,43,00,000.00",0.0,816123.0,0.2741
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235187,2021-04-26,ZEEL,EQ,188.00,190.60,191.10,185.10,186.70,186.40,187.35,8542755,"â‚¹ 16,00,45,09,13,20,000.00",52374.0,2340188.0,0.2739
235188,2021-04-27,ZEEL,EQ,186.40,188.00,192.95,186.80,188.80,188.15,189.41,14247767,"â‚¹ 26,98,63,56,14,55,000.03",73673.0,5425957.0,0.3808
235189,2021-04-28,ZEEL,EQ,188.15,188.80,190.60,187.10,188.95,189.10,188.85,8429439,"â‚¹ 15,91,91,67,06,70,000.00",44056.0,2413974.0,0.2864
235190,2021-04-29,ZEEL,EQ,189.10,190.80,191.65,186.00,186.60,186.55,187.44,9483009,"â‚¹ 17,77,47,10,19,50,000.00",60932.0,2744472.0,0.2894
235191,2021-04-30,ZEEL,EQ,186.55,185.30,190.95,183.65,185.00,185.60,187.53,11435285,"â‚¹ 21,44,43,98,64,30,000.00",62607.0,3323909.0,0.2907

In [176]:
df.drop(['Deliverable Volume', '%Deliverble'],axis=1, inplace=True)

In [177]:
df

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades
0,2007-11-27,MUNDRAPORT,EQ,440.00,770.00,1050.00,770.00,959.00,962.90,984.72,27294366,"â‚¹ 2,68,77,19,05,37,85,000.00",0.0
1,2007-11-28,MUNDRAPORT,EQ,962.90,984.00,990.00,874.00,885.00,893.90,941.38,4581338,"â‚¹ 43,12,76,53,01,65,000.00",0.0
2,2007-11-29,MUNDRAPORT,EQ,893.90,909.00,914.75,841.00,887.00,884.20,888.09,5124121,"â‚¹ 45,50,65,84,62,65,000.00",0.0
3,2007-11-30,MUNDRAPORT,EQ,884.20,890.00,958.00,890.00,929.00,921.55,929.17,4609762,"â‚¹ 42,83,25,66,28,30,000.00",0.0
4,2007-12-03,MUNDRAPORT,EQ,921.55,939.75,995.00,922.00,980.00,969.30,965.65,2977470,"â‚¹ 28,75,19,97,43,00,000.00",0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
235187,2021-04-26,ZEEL,EQ,188.00,190.60,191.10,185.10,186.70,186.40,187.35,8542755,"â‚¹ 16,00,45,09,13,20,000.00",52374.0
235188,2021-04-27,ZEEL,EQ,186.40,188.00,192.95,186.80,188.80,188.15,189.41,14247767,"â‚¹ 26,98,63,56,14,55,000.03",73673.0
235189,2021-04-28,ZEEL,EQ,188.15,188.80,190.60,187.10,188.95,189.10,188.85,8429439,"â‚¹ 15,91,91,67,06,70,000.00",44056.0
235190,2021-04-29,ZEEL,EQ,189.10,190.80,191.65,186.00,186.60,186.55,187.44,9483009,"â‚¹ 17,77,47,10,19,50,000.00",60932.0
235191,2021-04-30,ZEEL,EQ,186.55,185.30,190.95,183.65,185.00,185.60,187.53,11435285,"â‚¹ 21,44,43,98,64,30,000.00",62607.0

In [178]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235192 entries, 0 to 235191
Data columns (total 13 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Date        235192 non-null  object
 1   Symbol      235192 non-null  object
 2   Series      235192 non-null  object
 3   Prev Close  235192 non-null  float64
 4   Open        235192 non-null  float64
 5   High        235192 non-null  float64
 6   Low         235192 non-null  float64
 7   Last        235192 non-null  float64
 8   Close       235192 non-null  float64
 9   VWAP        235192 non-null  float64
 10  Volume      235192 non-null  int64
 11  Turnover    235192 non-null  object
 12  Trades      235192 non-null  float64
dtypes: float64(8), int64(1), object(4)
memory usage: 23.3+ MB

In [179]:
df['Date'] = pd.to_datetime(df['Date'])

In [180]:
df

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades
0,2007-11-27,MUNDRAPORT,EQ,440.00,770.00,1050.00,770.00,959.00,962.90,984.72,27294366,"â‚¹ 2,68,77,19,05,37,85,000.00",0.0
1,2007-11-28,MUNDRAPORT,EQ,962.90,984.00,990.00,874.00,885.00,893.90,941.38,4581338,"â‚¹ 43,12,76,53,01,65,000.00",0.0
2,2007-11-29,MUNDRAPORT,EQ,893.90,909.00,914.75,841.00,887.00,884.20,888.09,5124121,"â‚¹ 45,50,65,84,62,65,000.00",0.0
3,2007-11-30,MUNDRAPORT,EQ,884.20,890.00,958.00,890.00,929.00,921.55,929.17,4609762,"â‚¹ 42,83,25,66,28,30,000.00",0.0
4,2007-12-03,MUNDRAPORT,EQ,921.55,939.75,995.00,922.00,980.00,969.30,965.65,2977470,"â‚¹ 28,75,19,97,43,00,000.00",0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
235187,2021-04-26,ZEEL,EQ,188.00,190.60,191.10,185.10,186.70,186.40,187.35,8542755,"â‚¹ 16,00,45,09,13,20,000.00",52374.0
235188,2021-04-27,ZEEL,EQ,186.40,188.00,192.95,186.80,188.80,188.15,189.41,14247767,"â‚¹ 26,98,63,56,14,55,000.03",73673.0
235189,2021-04-28,ZEEL,EQ,188.15,188.80,190.60,187.10,188.95,189.10,188.85,8429439,"â‚¹ 15,91,91,67,06,70,000.00",44056.0
235190,2021-04-29,ZEEL,EQ,189.10,190.80,191.65,186.00,186.60,186.55,187.44,9483009,"â‚¹ 17,77,47,10,19,50,000.00",60932.0
235191,2021-04-30,ZEEL,EQ,186.55,185.30,190.95,183.65,185.00,185.60,187.53,11435285,"â‚¹ 21,44,43,98,64,30,000.00",62607.0

In [181]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235192 entries, 0 to 235191
Data columns (total 13 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Date        235192 non-null  datetime64[ns]
 1   Symbol      235192 non-null  object
 2   Series      235192 non-null  object
 3   Prev Close  235192 non-null  float64
 4   Open        235192 non-null  float64
 5   High        235192 non-null  float64
 6   Low         235192 non-null  float64
 7   Last        235192 non-null  float64
 8   Close       235192 non-null  float64
 9   VWAP        235192 non-null  float64
 10  Volume      235192 non-null  int64
 11  Turnover    235192 non-null  object
 12  Trades      235192 non-null  float64
dtypes: datetime64[ns](1), float64(8), int64(1), object(3)
memory usage: 23.3+ MB

In [182]:
df1=pd.read_csv("stock_metadata.csv")

In [183]:
df1

,Company Name,Industry,Symbol,Series,ISIN Code
0,Adani Ports and Special Economic Zone Ltd.,SERVICES,ADANIPORTS,EQ,INE742F01042
1,Asian Paints Ltd.,CONSUMER GOODS,ASIANPAINT,EQ,INE021A01026
2,Axis Bank Ltd.,FINANCIAL SERVICES,AXISBANK,EQ,INE238A01034
3,Bajaj Auto Ltd.,AUTOMOBILE,BAJAJ-AUTO,EQ,INE917I01010
4,Bajaj Finserv Ltd.,FINANCIAL SERVICES,BAJAJFINSV,EQ,INE918I01018
5,Bajaj Finance Ltd.,FINANCIAL SERVICES,BAJFINANCE,EQ,INE296A01024
6,Bharti Airtel Ltd.,TELECOM,BHARTIARTL,EQ,INE397D01024
7,Bharat Petroleum Corporation Ltd.,ENERGY,BPCL,EQ,INE029A01011
8,Britannia Industries Ltd.,CONSUMER GOODS,BRITANNIA,EQ,INE216A01030
9,Cipla Ltd.,PHARMA,CIPLA,EQ,INE059A01026
10,Coal India Ltd.,METALS,COALINDIA,EQ,INE522F01014
11,Dr. Reddy's Laboratories Ltd.,PHARMA,DRREDDY,EQ,INE089A01023
12,Eicher Motors Ltd.,AUTOMOBILE,EICHERMOT,EQ,INE066A01013
13,GAIL (India) Ltd.,ENERGY,GAIL,EQ,INE129A01019
14,Grasim Industries Ltd.,CEMENT & CEMENT PRODUCTS,GRASIM,EQ,INE047A01021
15,HCL Technologies Ltd.,IT,HCLTECH,EQ,INE860A01027
16,Housing Development Finance Corporation Ltd.,FINANCIAL SERVICES,HDFC,EQ,INE001A01036
17,HDFC Bank Ltd.,FINANCIAL SERVICES,HDFCBANK,EQ,INE040A01034
18,Hero MotoCorp Ltd.,AUTOMOBILE,HEROMOTOCO,EQ,INE158A01026
19,Hindalco Industries Ltd.,METALS,HINDALCO,EQ,INE038A01020
20,Hindustan Unilever Ltd.,CONSUMER GOODS,HINDUNILVR,EQ,INE030A01027
21,ICICI Bank Ltd.,FINANCIAL SERVICES,ICICIBANK,EQ,INE090A01021
22,IndusInd Bank Ltd.,FINANCIAL SERVICES,INDUSINDBK,EQ,INE095A01012
23,Bharti Infratel Ltd.,TELECOM,INFRATEL,EQ,INE121J01017
24,Infosys Ltd.,IT,INFY,EQ,INE009A01021
25,Indian Oil Corporation Ltd.,ENERGY,IOC,EQ,INE242A01010
26,ITC Ltd.,CONSUMER GOODS,ITC,EQ,INE154A01025
27,JSW Steel Ltd.,METALS,JSWSTEEL,EQ,INE019A01038
28,Kotak Mahindra Bank Ltd.,FINANCIAL SERVICES,KOTAKBANK,EQ,INE237A01028
29,Larsen & Toubro Ltd.,CONSTRUCTION,LT,EQ,INE018A01030
30,Mahindra & Mahindra Ltd.,AUTOMOBILE,M&M,EQ,INE101A01026
31,Maruti Suzuki India Ltd.,AUTOMOBILE,MARUTI,EQ,INE585B01010
32,Nestle India Ltd.,CONSUMER GOODS,NESTLEIND,EQ,INE239A01016
33,NTPC Ltd.,ENERGY,NTPC,EQ,INE733E01010
34,Oil & Natural Gas Corporation Ltd.,ENERGY,ONGC,EQ,INE213A01029
35,Power Grid Corporation of India Ltd.,ENERGY,POWERGRID,EQ,INE752E01010
36,Reliance Industries Ltd.,ENERGY,RELIANCE,EQ,INE002A01018
37,State Bank of India,FINANCIAL SERVICES,SBIN,EQ,INE062A01020
38,Shree Cement Ltd.,CEMENT & CEMENT PRODUCTS,SHREECEM,EQ,INE070A01015
39,Sun Pharmaceutical Industries Ltd.,PHARMA,SUNPHARMA,EQ,INE044A01036
40,Tata Motors Ltd.,AUTOMOBILE,TATAMOTORS,EQ,INE155A01022
41,Tata Steel Ltd.,METALS,TATASTEEL,EQ,INE081A01012
42,Tata Consultancy Services Ltd.,IT,TCS,EQ,INE467B01029
43,Tech Mahindra Ltd.,IT,TECHM,EQ,INE669C01036
44,Titan Company Ltd.,CONSUMER GOODS,TITAN,EQ,INE280A01028
45,UltraTech Cement Ltd.,CEMENT & CEMENT PRODUCTS,ULTRACEMCO,EQ,INE481G01011
46,UPL Ltd.,FERTILISERS & PESTICIDES,UPL,EQ,INE628A01036
47,Vedanta Ltd.,METALS,VEDL,EQ,INE205A01025
48,Wipro Ltd.,IT,WIPRO,EQ,INE075A01022
49,Zee Entertainment Enterprises Ltd.,MEDIA & ENTERTAINMENT,ZEEL,EQ,INE256A01028

In [184]:
arr1=df['Symbol'].unique()

In [185]:
df['Symbol'].unique()

array(['MUNDRAPORT', 'ADANIPORTS', 'ASIANPAINT', 'UTIBANK', 'AXISBANK',
       'BAJAJ-AUTO', 'BAJAJFINSV', 'BAJAUTOFIN', 'BAJFINANCE', 'BHARTI',
       'BHARTIARTL', 'BPCL', 'BRITANNIA', 'CIPLA', 'COALINDIA', 'DRREDDY',
       'EICHERMOT', 'GAIL', 'GRASIM', 'HCLTECH', 'HDFC', 'HDFCBANK',
       'HEROHONDA', 'HEROMOTOCO', 'HINDALC0', 'HINDALCO', 'HINDLEVER',
       'HINDUNILVR', 'ICICIBANK', 'INDUSINDBK', 'INFOSYSTCH', 'INFY',
       'IOC', 'ITC', 'JSWSTL', 'JSWSTEEL', 'KOTAKMAH', 'KOTAKBANK', 'LT',
       'M&M', 'MARUTI', 'NESTLEIND', 'NTPC', 'ONGC', 'POWERGRID',
       'RELIANCE', 'SBIN', 'SHREECEM', 'SUNPHARMA', 'TELCO', 'TATAMOTORS',
       'TISCO', 'TATASTEEL', 'TCS', 'TECHM', 'TITAN', 'ULTRACEMCO',
       'UNIPHOS', 'UPL', 'SESAGOA', 'SSLT', 'VEDL', 'WIPRO', 'ZEETELE',
       'ZEEL'], dtype=object)

In [186]:
arr2=df1['Symbol'].unique()

In [187]:
result = list(filter(lambda value: value not in arr2, arr1))
print(result)

['MUNDRAPORT', 'UTIBANK', 'BAJAUTOFIN', 'BHARTI', 'HEROHONDA', 'HINDALC0', 'HINDLEVER', 'INFOSYSTCH', 'JSWSTL', 'KOTAKMAH', 'TELCO', 'TISCO', 'UNIPHOS', 'SESAGOA', 'SSLT', 'ZEETELE']

In [188]:
df['Symbol'] = df['Symbol'].replace('MUNDRAPORT', 'ADANIPORTS', regex=True)
df['Symbol'] = df['Symbol'].replace('BHARTI', 'BHARTIARTL', regex=True)
df['Symbol'] = df['Symbol'].replace('HEROHONDA', 'HEROMOTOCO', regex=True)
df['Symbol'] = df['Symbol'].replace('HINDLEVER', 'HINDUNILVR', regex=True)
df['Symbol'] = df['Symbol'].replace('HINDLEVER', 'HINDUNILVR', regex=True)
df['Symbol'] = df['Symbol'].replace('HINDALC0', 'HINDALCO', regex=True)
df['Symbol'] = df['Symbol'].replace('INFOSYSTCH', 'INFY', regex=True)
df['Symbol'] = df['Symbol'].replace('JSWSTL', 'JSWSTEEL', regex=True)
df['Symbol'] = df['Symbol'].replace('KOTAKMAH', 'KOTAKBANK', regex=True)
df['Symbol'] = df['Symbol'].replace('UNIPHOS', 'UPL', regex=True)
df['Symbol'] = df['Symbol'].replace('SESAGOA', 'VEDL', regex=True)
df['Symbol'] = df['Symbol'].replace('SSLT', 'VEDL', regex=True)
df['Symbol'] = df['Symbol'].replace('ZEETELE', 'ZEEL', regex=True)

In [189]:
df1 = df1.append({'Company Name': 'Uti Bank ltd', 'Industry': 'FINANCIAL SERVICES' , 'Symbol':'UTIBANK'}, ignore_index=True)
df1 = df1.append({'Company Name': 'Bajaj Auto Finance ltd', 'Industry': 'FINANCIAL SERVICES' , 'Symbol':'BAJAUTOFIN'}, ignore_index=True)
df1 = df1.append({'Company Name': 'Total Telcom ltd', 'Industry': 'TELECOM' , 'Symbol':'TELCO'}, ignore_index=True)
df1 = df1.append({'Company Name': 'TISCO Financial Group Public Company ltd', 'Industry': 'FINANCIAL SERVICES' , 'Symbol':'TISCO'}, ignore_index=True)

C:\Users\User\AppData\Local\Temp\ipykernel_9228\1450697129.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df1.append({'Company Name': 'Uti Bank ltd', 'Industry': 'FINANCIAL SERVICES' , 'Symbol':'UTIBANK'}, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_9228\1450697129.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df1.append({'Company Name': 'Bajaj Auto Finance ltd', 'Industry': 'FINANCIAL SERVICES' , 'Symbol':'BAJAUTOFIN'}, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_9228\1450697129.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df1.append({'Company Name': 'Total Telcom ltd', 'Industry': 'TELECOM' , 'Symbol':'TELCO'}, ignore_index=True)
C:\Users\User\AppData\Local\Temp\ipykernel_9228\1450697129.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df1.append({'Company Name': 'TISCO Financial Group Public Company ltd', 'Industry': 'FINANCIAL SERVICES' , 'Symbol':'TISCO'}, ignore_index=True)

In [190]:
df1

,Company Name,Industry,Symbol,Series,ISIN Code
0,Adani Ports and Special Economic Zone Ltd.,SERVICES,ADANIPORTS,EQ,INE742F01042
1,Asian Paints Ltd.,CONSUMER GOODS,ASIANPAINT,EQ,INE021A01026
2,Axis Bank Ltd.,FINANCIAL SERVICES,AXISBANK,EQ,INE238A01034
3,Bajaj Auto Ltd.,AUTOMOBILE,BAJAJ-AUTO,EQ,INE917I01010
4,Bajaj Finserv Ltd.,FINANCIAL SERVICES,BAJAJFINSV,EQ,INE918I01018
5,Bajaj Finance Ltd.,FINANCIAL SERVICES,BAJFINANCE,EQ,INE296A01024
6,Bharti Airtel Ltd.,TELECOM,BHARTIARTL,EQ,INE397D01024
7,Bharat Petroleum Corporation Ltd.,ENERGY,BPCL,EQ,INE029A01011
8,Britannia Industries Ltd.,CONSUMER GOODS,BRITANNIA,EQ,INE216A01030
9,Cipla Ltd.,PHARMA,CIPLA,EQ,INE059A01026
10,Coal India Ltd.,METALS,COALINDIA,EQ,INE522F01014
11,Dr. Reddy's Laboratories Ltd.,PHARMA,DRREDDY,EQ,INE089A01023
12,Eicher Motors Ltd.,AUTOMOBILE,EICHERMOT,EQ,INE066A01013
13,GAIL (India) Ltd.,ENERGY,GAIL,EQ,INE129A01019
14,Grasim Industries Ltd.,CEMENT & CEMENT PRODUCTS,GRASIM,EQ,INE047A01021
15,HCL Technologies Ltd.,IT,HCLTECH,EQ,INE860A01027
16,Housing Development Finance Corporation Ltd.,FINANCIAL SERVICES,HDFC,EQ,INE001A01036
17,HDFC Bank Ltd.,FINANCIAL SERVICES,HDFCBANK,EQ,INE040A01034
18,Hero MotoCorp Ltd.,AUTOMOBILE,HEROMOTOCO,EQ,INE158A01026
19,Hindalco Industries Ltd.,METALS,HINDALCO,EQ,INE038A01020
20,Hindustan Unilever Ltd.,CONSUMER GOODS,HINDUNILVR,EQ,INE030A01027
21,ICICI Bank Ltd.,FINANCIAL SERVICES,ICICIBANK,EQ,INE090A01021
22,IndusInd Bank Ltd.,FINANCIAL SERVICES,INDUSINDBK,EQ,INE095A01012
23,Bharti Infratel Ltd.,TELECOM,INFRATEL,EQ,INE121J01017
24,Infosys Ltd.,IT,INFY,EQ,INE009A01021
25,Indian Oil Corporation Ltd.,ENERGY,IOC,EQ,INE242A01010
26,ITC Ltd.,CONSUMER GOODS,ITC,EQ,INE154A01025
27,JSW Steel Ltd.,METALS,JSWSTEEL,EQ,INE019A01038
28,Kotak Mahindra Bank Ltd.,FINANCIAL SERVICES,KOTAKBANK,EQ,INE237A01028
29,Larsen & Toubro Ltd.,CONSTRUCTION,LT,EQ,INE018A01030
30,Mahindra & Mahindra Ltd.,AUTOMOBILE,M&M,EQ,INE101A01026
31,Maruti Suzuki India Ltd.,AUTOMOBILE,MARUTI,EQ,INE585B01010
32,Nestle India Ltd.,CONSUMER GOODS,NESTLEIND,EQ,INE239A01016
33,NTPC Ltd.,ENERGY,NTPC,EQ,INE733E01010
34,Oil & Natural Gas Corporation Ltd.,ENERGY,ONGC,EQ,INE213A01029
35,Power Grid Corporation of India Ltd.,ENERGY,POWERGRID,EQ,INE752E01010
36,Reliance Industries Ltd.,ENERGY,RELIANCE,EQ,INE002A01018
37,State Bank of India,FINANCIAL SERVICES,SBIN,EQ,INE062A01020
38,Shree Cement Ltd.,CEMENT & CEMENT PRODUCTS,SHREECEM,EQ,INE070A01015
39,Sun Pharmaceutical Industries Ltd.,PHARMA,SUNPHARMA,EQ,INE044A01036
40,Tata Motors Ltd.,AUTOMOBILE,TATAMOTORS,EQ,INE155A01022
41,Tata Steel Ltd.,METALS,TATASTEEL,EQ,INE081A01012
42,Tata Consultancy Services Ltd.,IT,TCS,EQ,INE467B01029
43,Tech Mahindra Ltd.,IT,TECHM,EQ,INE669C01036
44,Titan Company Ltd.,CONSUMER GOODS,TITAN,EQ,INE280A01028
45,UltraTech Cement Ltd.,CEMENT & CEMENT PRODUCTS,ULTRACEMCO,EQ,INE481G01011
46,UPL Ltd.,FERTILISERS & PESTICIDES,UPL,EQ,INE628A01036
47,Vedanta Ltd.,METALS,VEDL,EQ,INE205A01025
48,Wipro Ltd.,IT,WIPRO,EQ,INE075A01022
49,Zee Entertainment Enterprises Ltd.,MEDIA & ENTERTAINMENT,ZEEL,EQ,INE256A01028
50,Uti Bank ltd,FINANCIAL SERVICES,UTIBANK,NaN,NaN
51,Bajaj Auto Finance ltd,FINANCIAL SERVICES,BAJAUTOFIN,NaN,NaN
52,Total Telcom ltd,TELECOM,TELCO,NaN,NaN
53,TISCO Financial Group Public Company ltd,FINANCIAL SERVICES,TISCO,NaN,NaN

In [191]:
merged_df = pd.merge(df, df1, on='Symbol')

In [192]:
merged_df

,Date,Symbol,Series_x,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Company Name,Industry,Series_y,ISIN Code
0,2007-11-27,ADANIPORTS,EQ,440.00,770.00,1050.00,770.00,959.00,962.90,984.72,27294366,"â‚¹ 2,68,77,19,05,37,85,000.00",0.0,Adani Ports and Special Economic Zone Ltd.,SERVICES,EQ,INE742F01042
1,2007-11-28,ADANIPORTS,EQ,962.90,984.00,990.00,874.00,885.00,893.90,941.38,4581338,"â‚¹ 43,12,76,53,01,65,000.00",0.0,Adani Ports and Special Economic Zone Ltd.,SERVICES,EQ,INE742F01042
2,2007-11-29,ADANIPORTS,EQ,893.90,909.00,914.75,841.00,887.00,884.20,888.09,5124121,"â‚¹ 45,50,65,84,62,65,000.00",0.0,Adani Ports and Special Economic Zone Ltd.,SERVICES,EQ,INE742F01042
3,2007-11-30,ADANIPORTS,EQ,884.20,890.00,958.00,890.00,929.00,921.55,929.17,4609762,"â‚¹ 42,83,25,66,28,30,000.00",0.0,Adani Ports and Special Economic Zone Ltd.,SERVICES,EQ,INE742F01042
4,2007-12-03,ADANIPORTS,EQ,921.55,939.75,995.00,922.00,980.00,969.30,965.65,2977470,"â‚¹ 28,75,19,97,43,00,000.00",0.0,Adani Ports and Special Economic Zone Ltd.,SERVICES,EQ,INE742F01042
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231502,2021-04-26,ZEEL,EQ,188.00,190.60,191.10,185.10,186.70,186.40,187.35,8542755,"â‚¹ 16,00,45,09,13,20,000.00",52374.0,Zee Entertainment Enterprises Ltd.,MEDIA & ENTERTAINMENT,EQ,INE256A01028
231503,2021-04-27,ZEEL,EQ,186.40,188.00,192.95,186.80,188.80,188.15,189.41,14247767,"â‚¹ 26,98,63,56,14,55,000.03",73673.0,Zee Entertainment Enterprises Ltd.,MEDIA & ENTERTAINMENT,EQ,INE256A01028
231504,2021-04-28,ZEEL,EQ,188.15,188.80,190.60,187.10,188.95,189.10,188.85,8429439,"â‚¹ 15,91,91,67,06,70,000.00",44056.0,Zee Entertainment Enterprises Ltd.,MEDIA & ENTERTAINMENT,EQ,INE256A01028
231505,2021-04-29,ZEEL,EQ,189.10,190.80,191.65,186.00,186.60,186.55,187.44,9483009,"â‚¹ 17,77,47,10,19,50,000.00",60932.0,Zee Entertainment Enterprises Ltd.,MEDIA & ENTERTAINMENT,EQ,INE256A01028
231506,2021-04-30,ZEEL,EQ,186.55,185.30,190.95,183.65,185.00,185.60,187.53,11435285,"â‚¹ 21,44,43,98,64,30,000.00",62607.0,Zee Entertainment Enterprises Ltd.,MEDIA & ENTERTAINMENT,EQ,INE256A01028

In [193]:
top_values_by_industry = merged_df.groupby('Industry')['Volume'].mean().nlargest(5)
print("Top 5 Industries by Average Volume:\n",top_values_by_industry)

Top 5 Industries by Average Volume:
 Industry
METALS                   5.577384e+06
MEDIA & ENTERTAINMENT    4.825422e+06
ENERGY                   4.380083e+06
FINANCIAL SERVICES       3.660372e+06
SERVICES                 2.954564e+06
Name: Volume, dtype: float64

In [194]:
top_values_by_industry1 = merged_df.groupby('Industry')['Trades'].mean().nlargest(5)
print("Top 5 Industries by AverÌ¥age Trades:\n",top_values_by_industry1)

Top 5 Industries by AverÌ¥age Trades:
 Industry
CONSTRUCTION          50305.355163
FINANCIAL SERVICES    42365.322627
IT                    37609.733429
METALS                36518.245084
SERVICES              33211.883504
Name: Trades, dtype: float64

In [195]:
top_values_by_ticker1= merged_df.groupby('Company Name')['Volume'].mean().nlargest(5)
print("Top 5 Companies by Average Volume:\n",top_values_by_ticker1)

Top 5 Companies by Average Volume:
 Company Name
Tata Motors Ltd.       1.247240e+07
State Bank of India    1.003930e+07
ICICI Bank Ltd.        8.224631e+06
NTPC Ltd.              7.226587e+06
ITC Ltd.               7.173165e+06
Name: Volume, dtype: float64

In [196]:
top_values_by_ticker = merged_df.groupby('Company Name')['Trades'].mean().nlargest(5)
print("Top 5 Companies by AverÌ¥age Trades:\n",top_values_by_ticker)

Top 5 Companies by AverÌ¥age Trades:
 Company Name
Axis Bank Ltd.              87271.385091
Tata Motors Ltd.            73240.906199
State Bank of India         69756.124576
Reliance Industries Ltd.    67223.229175
ICICI Bank Ltd.             64046.530908
Name: Trades, dtype: float64

In [197]:
top_values_by_ticker2 = merged_df.groupby('Company Name')['Trades'].sum().nlargest(5)
print("Top 5 Companies by sum of Trades:\n",top_values_by_ticker2)

Top 5 Companies by sum of Trades:
 Company Name
State Bank of India         370125997.0
Reliance Industries Ltd.    356686454.0
ICICI Bank Ltd.             339830893.0
Tata Motors Ltd.            315448583.0
Axis Bank Ltd.              296199081.0
Name: Trades, dtype: float64